/*
 * Gallery css used for gallery.html
 * Created On: 26/11/2020
 * @author: Ryan Purse
 */

/* Gallery */

img.gallery {
    max-width: 90%;
    max-height: 90%;
}

/* Side bar */

div.side-bar {
    display: grid;
    flex: 0;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

img.side-bar-image {
    max-width: 100%;
    filter: opacity(60%);
    transition: filter 200ms ease-in-out;
    min-width: 50px;
    min-height: 50px;
}

img.side-bar-image:hover {
    filter: opacity(100%);
}
