/*
 * Gallery css used for gallery.html
 * Created On: 26/11/2020
 * @author: Ryan Purse
 */

/* Gallery */

div.gallery {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
    background-image: url("../img/gallery/Belakor.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

/* Side bar */

div.side-bar {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    overflow-y: auto;
}

img.side-bar-image {
    display: grid;
    max-width: 100%;
    filter: opacity(60%);
    transition: filter 200ms ease-in-out;
}

img.side-bar-image:hover {
    filter: opacity(100%);
}
