/*
 * Main CSS file that is used for all site pages
 * Created On: 14/11/2020
 * @author: Ryan Purse
 */

:root {
    --black: black;
    --white: whitesmoke;

    --primary-colour: #101010;
    --secondary-colour: #0c0032;
    --tertiary-colour: #4000ff;
}

/*
 * Used to identify where elements are on the page
 * Not to be used on live site
 */
.debug {
    border: 1px solid darkred;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 100;
}

body::-webkit-scrollbar {
    width: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background-color: var(--primary-colour);

}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background: var(--tertiary-colour);
    border-radius: 5px;
}

footer {

}

h1, h2, h3, h4, h5, p, a {
    font-family: Calibri, sans-serif;
    color: var(--white);
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h1.secondary, h2.secondary, h3.secondary, h4.secondary, h5.secondary, p.secondary {
    color: var(--tertiary-colour);
}

/* anchors */

a {
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
    margin: 0 1rem;
    transition-duration: 100ms;
    padding: 0 1rem;
}

a:hover {
    color: var(--tertiary-colour);
}

a.button {
    text-decoration: none;
    justify-content: center;
    color: var(--white);
    background-color: var(--tertiary-colour);
    font-weight: bold;
    font-size: 18pt;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    transition-duration: 400ms;
}

a.button.secondary {
    background-color: var(--secondary-colour);
}

a.button.white {
    background-color: var(--white);
    color: var(--black);
}

a.button.black {
    background-color: var(--black);
}

a.button:hover {
    filter: invert(1);
}

/* end anchors */

/* Flexbox div elements */

div {
    display: flex;
    flex: 1;
    flex-basis: 0;
}

div.row {
    flex-flow: row wrap;
}

div.column {
    flex-flow: column wrap;
}

div.center {
    justify-content: center;
}

div.right {
    justify-content: flex-end;
}

div.middle {
    align-content: center;
}

div.bottom {
    align-content: flex-end;
}

/* End Flexbox div elements */

/* Wrappers */

div.text-wrapper {
    flex-flow: column wrap;
    flex-grow: 0;
    max-width: 31rem;  /* ~500px */
    width: fit-content;
    padding: 0.5rem 1rem;
}

div.button-wrapper {
    flex-flow: column wrap;
    flex-grow: 0;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    color: var(--white);
    background-color: var(--tertiary-colour);
    font-weight: bold;
    font-size: 18pt;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    min-width: 5rem;
}

/* end wrappers */

hr {
    color: var(--tertiary-colour);
    background-color: var(--tertiary-colour);
    width: 15rem;
    margin: 0;
    padding: 0;
    height: 2px;
    border-width: 0;
    border-radius: 1px;
}

@media screen  and  (max-width: 960px) {
    div.row {
        flex-flow: column nowrap;
    }
    div.row.no-collapse {
        flex-flow: row wrap;
    }
    div.right {
        align-content: flex-end;
    }
}
