/*
 * Main CSS file that is used for all site pages
 * Created On: 14/11/2020
 * @author: Ryan Purse
 */

:root {
    --black: black;
    --white: whitesmoke;

    --primary-colour: #101010;
    --secondary-colour: #4000ff;
    --tertiary-colour: #b6fb00;
}


/*
 * Used to identify where elements are on the page
 * Not to be used on live site
 */
.debug {
    border: 1px solid darkred;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 100;
}

body::-webkit-scrollbar {
    width: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--primary-colour);
    /* min-width: var(--resolution-min); */
}

/*
 * Webkit scroll bars only apply to Chrome based browsers
 * Firefox does not support webikit
 */
*::-webkit-scrollbar {
    width: 10px;

}

*::-webkit-scrollbar-track {
    background: var(--black);
}

*::-webkit-scrollbar-thumb {
    background: var(--secondary-colour);
    border-radius: 5px;
}


/* Text formatting */
h1, h2, h3, h4, h5, p, a, span, label, ul, li {
    font-family: Calibri, sans-serif;
    color: var(--white);
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h1.secondary, h2.secondary, h3.secondary, h4.secondary, h5.secondary, p.secondary {
    color: var(--secondary-colour);
}

h1.black, h2.black, h3.black, h4.black, p.black, a.black {
    color: var(--black);
}


/* Anchors */
a {
    cursor: pointer;
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
    margin: 1rem 0.1rem;
    padding: 0 0.5rem;
    transition: color 200ms ease-in-out;
}

a:hover {
    color: var(--tertiary-colour);
}

a.no-style {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

a.button {
    text-decoration: none;
    justify-content: center;
    color: var(--white);
    background-color: var(--secondary-colour);
    font-weight: bold;
    font-size: 18pt;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    transition: filter 250ms ease-in-out;
}

a.button.tertiary {
    background-color: var(--tertiary-colour);
    color: var(--white);
}

a.button.white {
    background-color: var(--white);
    color: var(--black);
}

a.button.black {
    background-color: var(--black);
    color: var(--white);
}

a.button:hover {
    filter: invert(1);
}

a.inline {
    font-size: inherit;
}


/* Navigation */
.navbar, .dropdown, .menu {
    display: flex;
    margin: 0;
    padding: 0 0.1rem;
    transition: background-color 500ms ease-in-out;
}

.navbar:hover, .dropdown:hover, .menu:hover {
    background-color: var(--primary-colour);
}

.navbar li, .dropdown li, .menu li {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.navbar:first-child {
    margin-left: 1rem;
}

.dropdown {
    position: absolute;
    margin-top: 0;
    left: 0;
    top: -600%;
    min-width: max-content;
    display: flex;
    flex-flow: column nowrap;
    transition: all 200ms ease-in-out;
    /* Adjust relative to it's parent. Header has a value of 100 */
    z-index: -1;
}

/*
 * Target class dropdown who's parent is hovering or dropdown hover
 * First bit required to initiate the dropdown. second bit is to stop it going back
 * up when hovering over items
 */
.navbar li:hover > .dropdown, .dropdown:hover {
    top: 100%;
    background-color: var(--primary-colour);
}


/* Flexbox div elements */
div {
    display: flex;
    flex: 1;
    flex-basis: 0;
}

div.row {
    flex-flow: row wrap;
}

div.column {
    flex-flow: column wrap;
}

div.column.content {
    max-width: 1440px;
    flex-basis: 100vw;
}

div.center {
    justify-content: center;
}

div.right {
    justify-content: flex-end;
}

div.middle {
    align-content: center;
}

div.bottom {
    align-content: flex-end;
}


/* Wrappers */
div.wrapper {
    flex-flow: column wrap;
    flex-grow: 0;
    width: fit-content;
    width: -moz-fit-content;    /* Firefox/Gecko */
    /* width: fit-content; */
    padding: 0 3rem;
}

div.wrapper.heading {
    max-width: 28rem;
    min-width: 28rem;
}

div.wrapper.text {
    max-width: 22rem;
    min-width: 22rem;
}

hr {
    color: var(--secondary-colour);
    background-color: var(--secondary-colour);
    width: 15rem;
    margin: 0;
    padding: 0;
    height: 2px;
    border-width: 0;
    border-radius: 1px;
}

/* menu icon */
svg.menu-icon {
    fill: var(--white);
    transition: fill 200ms ease-in-out;
}

svg.menu-icon:hover {
    fill: var(--tertiary-colour);
}

/* Model viewer */
model-viewer {
    --poster-color: var(--primary-colour);
    --progress-mask: var(--primary-colour);
}

/* User input */
input {
    border: 1px transparent solid;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

input.number {
    border: 1px transparent solid;
    color: var(--white);
}

/* Full screen banners */
#dwc {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/projects/DWC/NewShowroom.jpg") center;
}

#a-level {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/projects/aLevel/CrissCrossTrackFirstCorner2.jpg") center;
}

#particles {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/projects/portfolioSite/particlesBanner.jpg") center;
}

#card-game {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/projects/cardGame/mainBanner.jpg") center;
}

#ray-tracer {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/projects/rayTracer/mirrorRoomLarge.png") center;
}

/* Desktop media screens */
@media only screen and (min-width: 960px) {
    /* Navigation */
    .hide-on-desktop {
        display: none;
    }
}

/* Mobile screens and some tablets */
@media only screen and (max-width: 960px) {
    a {
        font-size: 24pt;
    }

    /* Navigation */
    ul {
        flex-flow: column nowrap;
        width: 100vw;
    }

    li {
        text-align: right;
        max-width: 100vw;
    }

    .navbar li, .dropdown li, .menu li {
        padding: 0 1rem;
    }

    .dropdown {
        padding-top: 1rem;
        right: 0;
    }

    .navbar {
        position: absolute;
        right: -100%;
        transition: all 500ms ease-in-out;
    }

    .menu li:hover > .navbar, .navbar:hover {
        right: 0;
        background-color: var(--primary-colour);
    }

    /* Div elements */
    div.row {
        flex-flow: column nowrap;
    }
    div.row.no-collapse {
        flex-flow: row wrap;
    }
    div.right {
        align-content: flex-end;
    }
    div.can-hide {
        display: none;
    }
    div.bottom {
        align-content: flex-start;
    }

    div.wrapper.heading, div.wrapper.text {
        min-width: 0;
    }
}

/*
 * Extremely small screens such as the Galaxy Fold.
 * Prevents overflow
 */
@media only screen and (max-width: 330px) {
    /* Wrappers */
    div.wrapper {
        padding: 0 10px;
    }
}
